body {
margin: 0px;
}

.title {
font-size: 50px;
font-weight: 800;
padding-top: 250px;
padding-left: 350px;
}

.underline {
padding-top: 15px;
padding-left: 350px;
}

.list {
padding-top: 15px;
display: grid;
grid-template-columns: 30% 70%;
}

.genre {
text-align: right;
}

.book {

}

.downside {
padding-top: 150px;
}