<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/library.css') }}">
    <title>Библиотека</title>
</head>
<body>
    <div>
        <span class="title">Библиотека</span>
    </div>
    <div>
        <span class="underline">Здесь содержится список всей литературы, которую я когда-либо прочел, и которая оказала на меня влияние</span>
    </div>
Экономика Исследование о природе и причинах богатства народов Адам Смит
    </div>
</body>
</html>