<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/library.css') }}">
    <title>Библиотека</title>
</head>
<body>
    <div class="title">
        <span>Библиотека</span>
    </div>
    <div class="underline">
        <span>Здесь содержится список всей литературы, которую я когда-либо прочел, и которая оказала на меня влияние</span>
    </div>

    <div class="list">
        {% for i in bookslistprint%}
            <span>"{{ i.1 }}"</span> <br>
            <span><b>{{ i.2 }}</b></span> <br> <br>
        {% endfor %}
    </div>
</body>
</html>